<nav class="nav mb-3">
    <a class="nav-link" asp-controller="Customers" asp-action="Index">Customers</a>
    <a class="nav-link" asp-controller="Cars" asp-action="Index">Cars</a>
    <a class="nav-link" asp-controller="Bookings" asp-action="Index">Bookings</a>
    <a class="nav-link" asp-controller="Services" asp-action="Index">Services</a>
    <a class="nav-link" asp-controller="ServiceTypes" asp-action="Index">Service Types</a>
</nav>