@model COMP003B.SP25.FinalProject.GonzalezA.Models.ServiceType

<div class="card m-2 p-3 shadow-sm">
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
    <p><strong>Price:</strong> $@Model.Price</p>
</div>